opencv-python
tqdm
numpy==1.26.4
torch --find-links https://download.pytorch.org/whl/cu118
torchvision --find-links https://download.pytorch.org/whl/cu118
torchaudio --find-links https://download.pytorch.org/whl/cu118
scikit-image
gradio